
@media screen and (max-width: 1400px) {
    #acceuil {
      height: 83vh;
      margin-bottom: 6rem;
    }
    .acceuil {
      flex-wrap: wrap;
    }
    #contact,
    #projet {
      height: fit-content;
    }
  }
  
  @media screen and (max-width: 1200px) {
    #nav-bar {
      display: none;
    }
    #nav-responsive {
      display: flex;
    }
    #competences,
    .competences-details-container {
      margin-top: 2rem;
    }
    #acceuil {
      display: block;
    }
    section {
      height: fit-content;
      margin: 0 5%;
    }
   

  
  }
  
  @media screen and (max-width: 600px) {
    #contact,
    footer {
      height: 40vh;
    }
    #acceuil{
      height: 83vh;
      margin-bottom: 0;
    }
    article {
      font-size: 1rem;
    }
    footer,.element-form {
      height: fit-content;
      margin-bottom: 2rem;
    }
  
    .contact-info-container {
      margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
    .competences-soustitre {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .menu-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section__text__p2 {
      font-size: 1.25rem;
    }
    .titre {
      font-size: 2rem;
    }
    .text-acceuil {
      text-align: justify;
    }
  }

